@import '../../defaultStyles.scss';

.RedirectPopup {
	&.popup {
		position: absolute;
		width: 100vw;
		height: 100vh;
		top: 0px;
		left: 0px;
		z-index: 3;
		background-color: rgba($color: #000000, $alpha: 0.9);

		&.redirect {
			position: absolute;
			top: calc(50vh - 25px);
			left: calc(50vw - 65px);
			height: 50px;
			width: 130px;
			border-radius: 6px;
			border: 0px;
			background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
			box-shadow: 0 3px 5px 2px rgba(255, 105, 135, 0.3);
			@include descale;

			&:hover,
			&:focus {
				background: linear-gradient(45deg, #ff8e53 30%, #fe6b8b 90%);
				@include scale;
			}

			p {
				margin-top: 4px;
				margin-left: auto;
				margin-right: auto;
				color: $backgroundColor;
				font-size: xx-large;
				@include font;
			}
		}

		&.close {
			border-style: hidden;
			background-color: rgba($color: #000000, $alpha: 0);
			position: absolute;
			left: 32px;
			top: 32px;
			width: 32px;
			height: 32px;
			opacity: 0.5;
			&:hover,
			&:focus {
				opacity: 1;
				animation: appear 1s ease-in-out;
			}
		}

		&.close:before,
		.close:after {
			position: absolute;
			left: 15px;
			content: ' ';
			height: 34px;
			width: 2px;
			background-color: $backgroundColor;
		}

		&.close:before {
			transform: rotate(45deg) translateY(-12px) translateX(-12px);
		}

		&.close:after {
			transform: rotate(-45deg) translateY(-12px) translateX(12px);
		}
	}
}
